*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root
{
    --text:#201E50;
    --card:#C4F1BE;
    --body:#525B76;
}
body
{
    background-color: var(--body);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}